:root {
  --margin-high: 2.5rem 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.font {
  font-size: 18px;
  font-family: "Fredoka", sans-serif;
}
/******************REUSABLE******************/
.margin {
  margin: var(--margin-high);
}
/********************header******************/
header {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  color: rgb(229, 49, 112);
}
/*********************main cards*************/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.column {
  width: calc(100% / 3 - 30px);
  background-color: black;
  margin: 10px;
  float: left;
  color: white;
}
.card {
  float: left;
}
img {
  height: 100px;
}
a {
  text-decoration: none;
  color: rgb(96, 192, 237);
}
.column > * {
  float: left;
}
.column > div {
  padding: 12px 7px;
}
